@import "tailwindcss";

/* Dark background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0a0a0a;
  color: white;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseSlow {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease forwards;
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease forwards;
}

.animate-pulse-slow {
  animation: pulseSlow 8s ease-in-out infinite;
}